*{
    margin: 0;
}

.nav{
    display: flex;
    justify-content: space-between;
    background-color: #eeeeee;
    margin: 0;
    padding: 0;
    height: 50px;
}
.nav_navbar{
    margin-top: 15px;
    list-style: none;
    display: flex;
}
.nav_navbar_item{
    margin-right: 20px;
}
.nav_navbar_link{
    text-decoration: none;
}
.nav_navbar_link_1{
    text-decoration: none;
}
.banner_nav{
    margin-top: 20px;
}
.banner_nav_navbar{
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;
}
.banner_nav_navbar_item{
    width: 150px;
    height: 40px;
    background-color: #6666;
    margin-right: 19px;
    display: block;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}
.nav_navbar_link{
    text-decoration: none;
    color: #000;
}
.nav_navbar_link:hover{
    text-decoration: none;
}
.icon_1{
    color: #EE4D2D;
}
.icon_2{
    color: blueviolet;
}
.xoa_1{
    margin-left: 4px;
}
i.icon_23.fas.fa-laptop-house {
    color:  yellowgreen;
}
.banner_nav_navbar .banner_active{
    background-color:#c8102e;
}
